# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcuserdatad
*.userprefs

# Swift Package Manager
/.build/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo
.DS_Store

# User-specific files
*.swp
*.swo
*.user
*.lock